/* USER */
.profil{
  @apply flex flex-col pt-4 mt-8;
}
.profil__user {
  @apply flex justify-center items-center flex-col h-26 mb-4 gap-4;
}
.profil__user-img-container{
  @apply flex gap-8;
}
.profil__user-img {
  @apply h-16 w-16 rounded-full border border-black mb-3 overflow-hidden;
}

.profil__user-img-form input[type="file"]{
  @apply flex justify-center items-center w-fit rounded px-4 py-2 bg-gray-700 text-gray-200;
}

.profil__section {
  @apply flex flex-col gap-5 mb-4 mt-8;
}
.profil__section-title{
  @apply w-full;
}


.profil__item {
  @apply flex items-center relative py-3 border-b border-gray-300;
}

.profil__item:last-child {
  @apply border-b-0;
}

.profil__item:hover {
  @apply bg-gray-100;
}

.profil__item-icon {
  @apply flex items-center justify-center mr-4;
}

.profil__item-icon svg {
  @apply w-5 h-auto block ;
}

.profil__item-content {
  @apply max-w-1/2;
}

.profil__item-cta {
  @apply flex items-center justify-center absolute right-0;
}

.profil__item-cta span {
  @apply font-semibold underline text-sm;
}

.profil__item-cta svg {
  @apply w-4 h-auto block;
}

/* TABS*/
.profil__fullscreen-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-white flex flex-col z-50 overflow-auto p-5 gap-4;
}

.profil__close-button {
  @apply  relative right-0 cursor-pointer border-none bg-none;
}
.profil__close-button svg{
  @apply relative top-4 left-4 w-5 h-auto block rotate-180;
}
.slide-in {
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out;
}

.slide-in.visible {
  transform: translateX(0);
}