.chat__item {
  @apply flex items-center gap-3 bg-white shadow-sm p-4 min-h-20 rounded-lg w-full transition-all duration-200 ease-in-out border border-gray-200 hover:bg-[var(--maincolor-light)];
}
.chat__item-content {
  @apply flex justify-between h-full w-full;
}
.chat__item-content-container {
  @apply flex gap-3 min-w-3/5;
}
.chat__item-sender-img {
  @apply w-16 h-16 rounded-full overflow-hidden;
}
.chat__item-sender-img img {
  @apply w-full h-full object-cover;
}
.chat__item-maincontent {
  @apply flex flex-col gap-2 h-full overflow-hidden w-3/5;
}
.chat__item-preview p {
  @apply whitespace-nowrap overflow-hidden text-ellipsis text-gray-500 text-sm;
}