@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@apply bg-white dark:bg-gray-950 p-0 m-0 box-border list-none no-underline;

:root {
  --navbar-height: 76px;
}
body {
  @apply w-screen h-screen overflow-x-hidden overflow-y-auto;
}
main {
  @apply pb-[var(--navbar-height)];
}
/* STYLES GENERAUX  */
h2{
  @apply font-bold text-2xl;
}
h3{
  @apply font-semibold text-xl;
}
.noscroll {
  overflow: hidden;
}
/* IMPORTANT */
/* TODO détail d'un trajet plus choix du chemin que l'on souhaite emprunter*/
/* TODO ajout d'un import de fichier pour l'image de profil dans info */
/* TODO faire un modèle pour l'historique avec un recap du trajet et potentiellment changer la note ( à voir sur le fonctionnement à venir) */
/* TODO système de note à intégrer */
/* TODO Gestion de l'itinéraire + Visualisation
Valeur par défaut : Passager ou conducteur mais possiblité de modifier son statut par trajet
Système de match entre le conducteur et les passagers */
/* SECONDAIRE */
/* TODO implémentation des couleurs ... */
/* TODO paufiner le design pour qu'il soit clean */
/* TODO animation de fermeture sur l'overlay Home Trajet */
/* TODO mettre l'overlay en component et refaire les overlay pour l'intégrer */
/* TODO nettoyage des classes CSS */
/* TODO gestion des erreurs */


/* Import routes */
@import "./routes/home/home.css";
@import "./routes/profil/profil.css";
@import "./routes/chat/chat.css";

/* Import components */
/* General */
@import "./components/loader/Loader.css";
@import "./components/footer/Footer.css";
@import "./components/button/FormSubmit/FormSubmit.css";
@import "./components/button/BtnPrimary/BtnPrimary.css";
@import "./components/button/ToggleBtn/ToggleBtn.css";
/* Overlay Home*/
@import "./components/home/HomeOverlayTrajet/HomeOverlayTrajet.css";
@import "./components/home/HomeOverlayChoice/HomeOverlayChoice.css";
/* Modal */
@import "./components/modal/ModalHomeTrajet/ModalHomeTrajet.css";

/* Profil */
@import "./components/profil/import/profilOnglet.css"
