.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__car{
  fill: var(--maincolor-original);
  stroke: var(--maincolor-original);
}
.loader__car-body {
  -webkit-animation: loader-shake 0.2s ease-in-out infinite alternate;
          animation: loader-shake 0.2s ease-in-out infinite alternate;
}
.loader__car-line {
  transform-origin: center right;
  stroke-dasharray: 22;
  -webkit-animation: loader-line 0.8s ease-in-out infinite;
          animation: loader-line 0.8s ease-in-out infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.loader__car-line--top {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loader__car-line--middle {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader__car-line--bottom {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes loader-shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}

@keyframes loader-shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}
@-webkit-keyframes loader-line {
  0% {
    stroke-dashoffset: 22;
  }
  25% {
    stroke-dashoffset: 22;
  }
  50% {
    stroke-dashoffset: 0;
  }
  51% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: -22;
  }
  100% {
    stroke-dashoffset: -22;
  }
}
@keyframes loader-line {
  0% {
    stroke-dashoffset: 22;
  }
  25% {
    stroke-dashoffset: 22;
  }
  50% {
    stroke-dashoffset: 0;
  }
  51% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: -22;
  }
  100% {
    stroke-dashoffset: -22;
  }
}